---
// import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Card from "@/components/Card.astro";

import { SITE } from "@/config";
import { OTHER_PAGES } from "@/constants";

// const websites = await getCollection("otherWebsites");
---
<Layout title={`Other Pages | ${SITE.title}`}>
  <Main pageTitle="Other Pages" pageDesc="A collection of my other websites.">
    <ol>
      {
        OTHER_PAGES.map(page => (
          <li>
            <a href={page.href}>{page.name}</a>
          </li>
        ))
        
      }
    </ol>
  </Main>
</Layout>
